
.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &_face {
        background-image: url("../media/section/face.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }

    &_symptoms {
        padding-top: 280px;
        padding-bottom: 280px;
        background-image: url("../media/section/symptoms.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    &_footer {
        padding-top: 150px;
        background-image: url("../media/section/footer.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    &_act {
        background-image: url("../media/section/act.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &_problems {
        background-image: url("../media/section/problems.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &_women {
        background-image: url("../media/section/women.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &_warning {
        padding-top: 30px;
        padding-bottom: 30px;
        background-image: url("../media/section/warning.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &_professional {
        background-image: url("../media/section/professional.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &_info {
        padding-top: 0;
    }
}

.section__title {
    font-weight: 800;
}

.section__professional {
    position: absolute;
    bottom: 0;
    left: 50%;
    min-width: 434px;
    margin-left: 350px;
    transform: translateX(-50%);
}

@media (max-width: 1030px) {
    .section {
        &_face {
            background-image: url("../media/section/face-1030.jpg");
        }

        &_symptoms {
            padding-top: 130px;
            background-image: url("../media/section/symptoms-1030.jpg");
            background-position: center bottom;
        }

        &_footer {
            padding-top: 80px;
        }
    }

    .section__title {
        font-size: 40px;
        line-height: 1;
    }
}

@media (max-width: 768px) {
    .section {
        &_face {
            background-image: url("../media/section/face-768.jpg");
        }

        &_problems {
            background-image: url("../media/section/problems-768.jpg");
        }

        &_women {
            background-image: url("../media/section/women-768.jpg");
        }
    }

    .section__professional {
        display: none;
    }
}

@media (max-width: 480px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_symptoms {
            padding-bottom: 160px;
        }
    }

    .section__title {
        text-align: left;
    }
}
