
 <section class="section section_act">
     <div class="container">
         <div class="act">
             <div class="section__title act__title" data-aos="fade-right">действовать нужно немедленно!</div>
             <div class="act__box">
                 <div class="act__item"> <mark>Частые ложные позывы</mark> к мочеиспусканию </div>
                 <div class="act__item"> <mark>Резь, боль, жжение</mark> и зуд в области уретры </div>
                 <div class="act__item"> <mark>Ноющая боль внизу живота</mark> или в районе поясницы </div>
                 <div class="act__item"> <mark>Примеси крови</mark> в моче </div>
                 <div class="act__item"> <mark>Неприятный</mark> запах мочи </div>
                 <div class="act__item"> <mark>Высокая температура,</mark> тошнота или рвота </div>
             </div>
         </div>
     </div>
 </section>
