
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Мнение пациентов</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Ханна, 38 лет <mark>Страдала от цистита больше года.</mark></div>
                    <div class="commits__description">
                        Первый раз появился после секса. Сначала просто был дискофморт, потом боль – такая, что шелохнуться невозможно. Кое-как добралась в аптеку, купила первый попавшийся антибиотик. Помог. Через месяц та же история и снова антибиотик. На четвертый раз он не спас: пролежала пару дней с острой болью и горячей бутылкой между ног. С виноватым видом добралась до врача, а он мне те же самые антибиотики назначил! Стала искать, чем народ лечится, нашла статью про Detonic, заказала, пропила. Вот уже полтора года как никаких симптомов этой заразы. Через полгода обследовалась у уролога, анализы идеальные. Слава богу, эти пытки закончились, вернулась к нормальной жизни.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Майя, 64 года<mark>Полтора месяца назад цистит нарушил все мои планы.</mark></div>
                    <div class="commits__description">
                        Собирались с дочкой в отпуск, и тут случился неприятный сюрприз – сухость, дискомфорт и сильное жжение, особенно после походов в туалет. Страдала от этого даже больше, чем от приливов, которые сопровождают меня из-за климакса. Побежала к врачу, которого мне посоветовала коллега. По ее словам, он вылечил немало людей с похожими симптомами. После результатов анализов он поставил диагноз – воспаление мочевого пузыря на фоне менопаузального периода. Доктор пояснил, что цистит не редкость при климаксе и назначил Detonic. Облегчение наступило уже после первого применения. После курса лечения вообще забыла что это такое и надеюсь, больше подобного я не испытаю.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Адриана, 49 лет <mark>Страдала от хронического цистита с детства.</mark></div>
                    <div class="commits__description">
                        3-4 раза в год случалось обострение, это когда от боли ниже живота хотелось лезть на стену, повышается и в туалет ходить очень больно. После очередного осмотра у врача обнаружился пузырно-мочеточниковый рефлюкс – забрасывание мочи обратно в почки, как мне сказали в клинике. Я тогда сильно перепугалась и расстроилась. Нашла другого врача, он прописал Detonic. Спустя неделю все симптомы ушли, и облегчение, которое я почувствовала, не сравнится ни с чем! А после курса Detonic цистит в прошлом.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
