
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">DETONIC</div>
                <div class="section__title face__title" data-aos="fade-up">эффективное решение интимной проблемы </div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Detonic">
                </div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-1.png" alt="">
                        Лечит инфекционные и воспалительные процессы
                    </div>
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-2.png" alt="">
                        Эффективен против патогенных микроорганизмов
                    </div>
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-3.png" alt="">
                        Снимает болевые симптомы
                    </div>
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-4.png" alt="">
                        Лечит хроническую форму
                    </div>
                </div>
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>
