
<section class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="problems__media"><img src="../media/problems/human.png" alt=""></div>
            <div class="problems__body">
                <div class="section__title problems__title">Тема может <span>и интимная,</span> <span>а вот проблема</span> серьёзная. </div>
                <div class="problems__info">
                    Цистит — это воспаление мочевого пузыря, инфекционное поражение слизистых покровов. Частое, болезненное мочеиспускание – основной признак. Может отмечаться повышение температуры тела, появление в моче крови.
                    <mark>Практически каждая женщина в течение жизни сталкивается с этой проблемой. Подавляющее большинство.</mark>
                </div>
                <div class="problems__name">
                    Артур Ламис
                    <mark>уролог, стаж 32 года</mark>
                </div>
            </div>
        </div>
    </div>
</section>
