
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title"> Это самая частая причина <span>перехода цистита в</span> хроническую форму. </div>
            <div class="professional__info">
                <p>С болезнью, которую лечили долго и неверно, справиться гораздо труднее: принимать антибиотики надо с максимальной ответственностью, несистемное лечение приводит к ситуации, когда они перестают
                действовать.
                <span>
                    Попробуйте Детоник — растительный препарат, который я использую в своей практике. Он доказал эффективность при любом ходе течения цистита, в том числе при хронических случаях. За курс применения этот растительный
                    препарат устраняет бактериальную и патогенную флору, нормализует работу почек и снимает болевой синдром. Также препарат уместен для профилактического лечения.
                </span>
                </p>
                <div class="professional__media">
                    <img src="../media/professional/human.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
