
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title" data-aos="fade-left">При обнаружении характерных симптомов,</div>
        </div>
    </div>
</section>
