
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="section__title warning__title"><span>НЕ ЗАНИМАЙТЕСЬ</span> САМОЛЕЧЕНИЕМ</div>
        </div>
    </div>
</section>
