
<section class="section section_women">
    <div class="container">
        <div class="women">
            <div class="section__title women__title" data-aos="fade-right">Почему женщины <mark>чаще страдают от цистита?</mark></div>
            <div class="women__list">
                <div class="women__item" data-aos="fade-right"><mark>Особенности женской анатомии:</mark> женский мочеиспускательный канал более короткий и прямой, чем у мужчин.</div>
                <div class="women__item" data-aos="fade-right">Поэтому <mark>инфекция легче проникает</mark> в мочевой пузырь</div>
                <div class="women__item" data-aos="fade-right"><mark>Именно это</mark> – самая частая причина возникновения цистита</div>
            </div>
        </div>
    </div>
</section>
