
.face {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.face__logo {
    display: inline-block;
    padding: 5px 7px 3px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    background-color: #e3644c;
    border-radius: 3px;
}

.face__title {
    max-width: 280px;
    margin-bottom: 40px;
    font-size: 43px;
    line-height: 42px;
    text-transform: uppercase;
}

.face__check {
    position: relative;
    display: flex;
    align-items: flex-start;
    max-width: 280px;
    min-height: 59px;
    padding: 12px;
    font-size: 16px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;

    & + & {
        margin-top: 15px;
    }

    & img {
        flex: 0 0 auto;
        margin-right: 15px;
    }
}

.face__product {
    position: absolute;
    bottom: -120px;
    left: 50%;
    z-index: 1;
    max-width: 229px;
    margin-left: -70px;
    transform: translateX(-50%);

    &::before {
        position: absolute;
        bottom: -15px;
        left: -113px;
        z-index: -1;
        width: 450px;
        height: 148px;
        content: '';
        background-image: url("../media/product-before.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::after {
        position: absolute;
        bottom: 79px;
        left: -47px;
        z-index: -1;
        width: 325px;
        height: 360px;
        content: '';
        background-image: url('../media/product-shadow.png');
        background-repeat: no-repeat;
        background-size: cover;
        animation: opcityShadow 8s infinite ease;
    }
}

@media (max-width: 1030px) {
    .face__title {
        margin-bottom: 30px;
        font-size: 32px;
    }

    .face__product {
        max-width: 170px;
        margin-left: -40px;

        &::before {
            bottom: -11px;
            left: -69px;
            width: 312px;
            height: 103px;
        }

        &::after {
            bottom: 65px;
            left: -29px;
            width: 227px;
            height: 257px;
        }
    }

    .face__check {
        max-width: 215px;
        font-size: 16px;

        & img {
            max-width: 30px;
            margin-right: 10px;
        }
    }
}

@media (max-width: 768px) {
    .face {
        flex-direction: column;
    }

    .face__title {
        max-width: 100%;
        text-align: center;
    }

    .face__check {
        max-width: 320px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    }

    .face__product {
        position: static;
        margin-right: auto;
        margin-bottom: 40px;
        margin-left: auto;
        transform: translateX(0);
    }
}

@media (max-width: 480px) {
    .face__check {
        max-width: 100%;
        font-size: 18px;
    }

    .face__product {
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }
}

@keyframes opcityShadow {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
